name: Publish Docker image
on:
  push:
    branches:
      - master
jobs:
  alpine113:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Push to GitHub Packages
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile-1.13-alpine
          registry: docker.pkg.github.com
          tags: thesoulless/golang-alpine:1.13
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          file: ./Dockerfile-1.13-alpine
          push: true
          tags: |
            thesoulless/golang-alpine:1.13
